<!DOCTYPE html>
<head>
	<title>DiscordPaste - Home</title>
	{{{headStuff}}}
</head>
<body>
	<div id="legend">
		<div id="header">Discord Paste</div>
		<div id="buttons">
			<button id="save">Save</button>
			<button id="new">New</button>
			<button id="duplicate" disabled>Duplicate &amp; Edit</button>
			<button id="raw" disabled>Raw</button>
		</div>
		<div id="tooltips">
			<div id="label"></div>
			<div id="shortcut"></div>
		</div>
	</div>

	<textarea id="editor" spellcheck="false"></textarea>
</body>