<!DOCTYPE html>
<head>
	<title>DiscordPaste - Home</title>
	{{{headStuff}}}
</head>
<body>
	<div id="legend">
		<div id="header">Discord Paste</div>
		<div id="buttons">
			<button id="save" label="Save"><i class="fa fa-floppy-o"></i></button>
			<button id="new" label="New"><i class="fa fa-file-code-o"></i></button>
			<button id="duplicate" label="Duplicate &amp; Edit" class="disabled"><i class="fa fa-files-o"></i></button>
			<button id="raw" label="Raw" class="disabled"><i class="fa fa-file-text-o"></i></button>
		</div>
		<div id="tooltips">
			<div id="label"></div>
			<div id="shortcut"></div>
		</div>
	</div>

	<textarea id="editor" spellcheck="false"></textarea>
</body>